doctype
html(lang='ko')
    head
        include ../component/head.pug
        block head
    body
        block header
        
        div(class="page-content-container")
            block content 

        block footer