doctype
html(lang='ko')
    head
        block head
    
    body
        header this is header
        div
            block content
        div
            block content2
        div 
            block content3
        footer this is footer