extends ./layout/post.layout.pug

block head
    include ./layout/head.layout.pug

block content3 
    div 
        h1 new-content3입니다

block content
    div
        ul 
            li new제목
            li 본문
            li 맺음말

block content2 
    div 
        p new-content2 입니다

